.el-submenu .el-menu-item {
  min-width: 199px;
}
.layout {
  width: 100%;
  height: 100%;
  .top-header {
    width: 100%;
    position: fixed;
    z-index: 10001;
    &-collapse {
      float: left;
      width: 55px;
    }
    &-title {
      transition: width .3s ease-in-out;
      box-sizing: content-box;
      height: 60px;
      line-height: 60px;
      font-size: 20px;
      border-right: 1px solid #e6e6e6;
      text-align: center;
    }
    .toggle-side-bar {
      cursor: pointer;
      padding-left: 20px;
      width: 15px;
      padding-right: 20px;
      line-height: 60px;
    }
    &-user {
      width: 200px;
      text-align: right;
      padding-right: 35px;
      float: right;
      .user-inner {
        height: 60px;
        line-height: 60px;
        cursor: pointer;
        display: block;
        .user-name {
          float: left;
          margin-right: 15px;
        }
        img {
          vertical-align: middle;
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
  }
  .main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 60px;
    display: flex;
    .layout-side {
      position: fixed;
      height: 100%;
      z-index: 10001;
      .side-menu {
        height: 100%;
        &:not(.el-menu--collapse) {
          width: 200px;
        }
        .el-submenu [class^=fa]{
          vertical-align: middle;
          margin-right: 5px;
          width: 24px;
          text-align: center;
          font-size: 18px;
        }
      }
    }
    .content {
      transition: .3s ease-in-out;
      box-sizing: border-box;
      flex: 1;
      height: 100%;
      width: calc(100% - 200px);
      padding: 10px;
      .breadcrumb {
        padding: 10px 5px 20px;
      }
    }
  }
}
